		<%- include('partials/head') %>

		<!-- custom -->
		<link rel="stylesheet" type="text/css" href="../assets/styleSettings.css" />
	</head>

	<body>
		<!-- navbar  -->
		<%- include("partials/navbar") %>

		<!-- clouds in the background -->
		<%- include("partials/bg") %>


		<!-- content -->
		<div class="outerDBContainer container-fluid">
			<div class="dashboardRow row justify-content-center">
				<div class="col-lg-4 col-md-4 col-sm-10 dashboardLeft">
					<div class="fixedWrapper col-lg-4 col-md-4 col-sm-10">
						<div class="col-12 userDetails">
							<div class="col-3 userPhotoDiv">
								<img
									src="<%- userData.userPhoto%>"
									alt="userPhoto"
									class="userPhoto"
								/>
							</div>

							<div class="col-4 userTextDiv">
								<h5 class="username"><%= userData.username %></h5>
								<p class="points">
									Gems earned: <%= userData.points_received %>
								</p>
							</div>
							<div class="col-5 filters"></div>
						</div>

						<div class="col-12 changeDetails">
							<form action="/settings/username" method="POST">
								<input
									type="text"
									name="username"
									id="username"
									placeholder="Update Your Username"
									required
								/>
								<button type="submit" class="submit">Update</button>
							</form>
							<br />
							<form action="/settings/email" method="POST">
								<input
									type="email"
									name="email"
									id="email"
									placeholder="Update Your Email"
									required
								/>
								<button type="submit" class="submit">Update</button>
							</form>
							<br />
							<form action="/settings/password" method="POST">
								<input
									type="password"
									name="password"
									id="password"
									placeholder="Update Your Password"
									required
								/>
								<button type="submit" class="submit">Update</button>
							</form>
							<br />
							<br />
							<div class="row">
								<div class="col-5 selectedFileText">
									<div id="selected"></div>
								</div>
								<div class="col-7">
									<form action="/settings/userPhoto" method="POST">
										<label class="button choosePhoto" for="postPhoto">
											Pick a Photo
										</label>
										<input
											type="file"
											id="postPhoto"
											onchange="displayFile()"
											accept="image/jpeg"
										/>
										<input
											type="text"
											name="userPhoto"
											id="postPhotoUrl"
											value=""
										/>

										<button type="submit" class="submit">Update</button>
									</form>
									<br />
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- dashboard right content -->
				<div class="col-lg-5 col-md-5 col-sm-10 dashboardRight">
					<div class="col-12 container-fluid trendingPost">
						<div class="row justify-content-center">
							<div class="col-lg-12 col-md-12 col-sm-12 trendingUserPhotoDiv">
								<img
									src="<%- userData.userPhoto%>"
									alt="userPhoto"
									class="currentUserPhoto"
								/>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 trendingUserContentDiv">
								<p style="color: #a8a8a8">Your username</p>
								<h5 class="trendingUsername"><%= userData.username%></h5>
								<br />
								<p style="color: #a8a8a8">Your email</p>
								<h5 class="trendingUsername"><%= userData.email%></h5>
								<br />

								<p style="color: #a8a8a8">Gems received</p>
								<h5 class="trendingUsername"><%= userData.points_received%></h5>
								<br />

								<p style="color: #a8a8a8">Gems redeemed</p>
								<h5 class="trendingUsername"><%= userData.points_redeemed%></h5>
								<br />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<%- include('partials/scripts') %>	
		<!-- custom -->
		<script src="../assets/frontend.js"></script>
		<script src="../assets/frontendSettings.js"></script>

	</body>
	<!-- Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"
    title="Flaticon"> www.flaticon.com</a> -->
</html>
